@{
    ViewData["Title"] = "Acceso Denegado";
    Layout = Layout = "~/Views/Login/LayoutDenegado.cshtml";
}

<h1 style="text-align:center">No le pagan lo suficiente para entrar a esta opción</h1>

<div style="width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; margin-top:10px">
    <div style="width: 60%; display: flex; justify-content: center;">
        <img style="width: 60%;" src="~/imagenes/acceso-denegado.png" />
    </div>
</div>